/* Universal Styles */

html {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-weight: bold;
}

/* Heading */

header {
  display: flex;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 64px;
}

.icon {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 24px;
  margin-right: 8px;
}

header span {
  color: rgb(122,122,122);
  font-size: 1.5rem;
}

.colmar {
  font-weight: bold;
  color: black;
}

.academy {
  color: rgb(122,122,122);
}

.desktop-nav {
  margin-right: 24px;
}

.desktop-nav a {
  color: black;
  padding: 0.5rem;
  color: rgb(64, 64, 64);
}

.desktop-nav a:hover {
  color: blue;
  text-decoration: underline;
}

.desktop-nav a:active {
  color: rgb(42, 187, 255);
  text-decoration: underline;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 720px) {

  .desktop-nav {
    display: none;
  }

  .icon {
    display: none;
  }

  .mobile-nav {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-around;
  }

  .mobile-nav a:active {
    background-color: rgb(170,170,170);
  }
}

/* Learn Something Section */

.banner-container {
  background-color: rgb(170,170,170);
  position: relative;
  z-index: 4;
  top: 4rem;
}

.learn-main {
  display: flex;
  padding: 32px 24px;
}

.image-container {
  width: 60%;
  margin-right: 40px;
}

.banner-image img {
  max-width: 100%;
}

.learn-something {
  margin-top: 3rem;
  line-height: 1.3;
  width: 22rem;
}

.learn-something h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  width: 90%;
}

.learn-something p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  width: 90%;
}

.start span a:hover {
  color: white;
}

.start span a:active {
  color: blue;
  text-decoration: underline;
}

.learn-something span {
  background-color: rgb(219,219,219);
  padding: 8px 0px;
  display: flex;
  justify-content: center;
  width: 85%;
}

.mobile-box {
  display: none;
}

@media only screen and (max-width: 720px) {

  .image-container {
    display: none;
  }

  .banner-image {
    display: none;
  }

  .learn-main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .mobile-box {
    display: flex;
    width: 100%;
    height: 18rem;
  }

  .mobile-box img{
    max-width: 100%;
  }

  .learn-something {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    line-height: 1.4;
    width: auto;
  }

  .learn-something h1 {
    font-size: 2rem;
    margin: 2rem 1rem;
    width: auto;
  }

  .learn-something p {
    font-size: 1.2rem;
    margin: 0 1rem 1.5rem 1rem;
    width: auto;
  }

  .start {
    width: 100%;
  }

  .learn-something span {
    margin: 0 1rem 2rem 3rem;
  }

  .learn-something span a {
    font-weight: 400;
    font-size: 1.25rem;
  }
}

/* Practicing Section */

.practice-container {
  position: relative;
  top: 4rem;
  z-index: 3;
  background-color: rgb(219,219,219);
}

.practice-body {
  padding: 32px 0px 32px 24px;
  display: flex;
}

.practice-left {
  margin-right: 24px;
}

.practice-image {
  margin-bottom: 2rem;
}

.practice-image img {
  max-width: 100%;
}

.practice-left h1 {
  font-size: 2rem;
  margin-bottom: 24px;
}

.practice-left p {
  margin-bottom: 32px;
}

.practice-left span {
  font-size: 0.85rem;
}

.textbox {
  width: 423px;
  display: flex;
  flex-wrap: wrap;
}

.practice-imagedesktop {
  width: 35%;
}

.practice-imagedesktop img {
  max-width: 100%;
  margin: 1rem;
}

#guest {
  background-color: rgb(170,170,170);
}

.description {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 1.5rem 3rem 2rem;
}

#lecture-mobile {
  display: none;
}

.description h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  letter-spacing: .4px;}

.description span {
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
}

.description a {
  color: blue;
  font-size: 0.9rem;
}

.description a:hover {
  text-decoration: underline;
}

.description a:active {
  color: rgb(42, 187, 255);
  text-decoration: underline;
}

#oliver {
  margin: 0;
  line-height: 2;
}

.practice-imagemobile {
  display: none;
}

@media only screen and (max-width: 600px) {

  .practice-container {
    width: 100%;
    padding: 0rem;
    margin: 0rem;
  }

  .practice-body {
    padding: 0rem;
  }

  .practice-left {
    display: none;
  }

  .practice-right {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .textbox {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .practice-imagedesktop {
    display: none;
  }

  .practice-imagemobile {
    display: block;
    width: 100%;
    padding: 0rem;
  }

  .practice-imagemobile img {
    max-width: 100%;
    height: auto;
  }

  .description {
    margin: 1rem 0 1rem 1rem;
    padding: 0rem;
  }

  #lecture-mobile {
    display: block;
    font-weight: 500;
  }

  .description h2 {
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
  }

  .description span {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .description a {
    font-size: 0.9rem;
    margin-bottom: 0rem;
  }

  #lecture {
    display: none;
  }

  #guest {
    margin-right: auto;
  }

}

/* Learning Section */

.learning-container {
  position: relative;
  z-index: 2;
  top: 4rem;
  background-color: rgb(170,170,170);
  padding-bottom: 1.5rem;
}

.learning-container h1 {
  font-size: 2rem;
  padding: 2rem 0 1.5rem 0;
  text-align: center;
}

.learning-grid {
  margin-bottom: 1.5rem;
  line-height: 1.15;
}

.subject-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subject-container {
  width: 280px;
  margin: 0.5rem 1rem;
  background-color: white;
}

.subject-image img {
  max-width: 100%;
}

.subject-description {
  padding: 0 16px;
}

.subject-description h2 {
  font-size: 1.2rem;
  margin: 0.9rem 0rem 0.5rem 1rem;
}

.subject-description span {
  display: inline-block;
  margin: 0 0 0.5rem 1rem;
  color: rgb(52,89,97);
  font-size: 0.85rem;
}

.subject-description p {
  margin: 0 0 1.5rem 1rem;
}

@media only screen and (max-width: 600px) {

  .subject-image img {
    display: none;
  }

  .subject-description span, p {
    display: none;
  }

  .learning-container {
    padding-bottom: 32px;
  }

  .learning-container h1 {
    padding: 2rem 0 1rem 0;
  }

  .subject-description h2 {
    align-items: center;
  }

  .subject-container {
    height: 3.2rem;
    width: 90%;
    margin: 0.5rem;
    padding: 0;
    background-color: lightgray;
  }

}

/* Thesis Section */

#main.learning-container {
  background-color: rgb(219,219,219);
  padding-bottom: 0;
}

#exhibit {
  padding: 32px 0 32px 0;
}

#main.practice-body {
  padding-top: 0rem;
}

.video {
  margin-bottom: 1.5rem;
}

#main.practice-left h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#main.practice-left p {
  margin-bottom: 0;
}

.textbox.variant {
  background-color: rgb(240,240,240);
}

#text {
  margin: 0;
  line-height: 2;
}

@media only screen and (max-width: 600px) {

  #prototype.practice-right {
    display: none;
  }

  #main.practice-left {
    display: block;
    padding: 0;
    margin: 0;
  }

  #main.practice-left h2, p {
    display: none;
  }

  #main.learning-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  #main.practice-body {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .video {
    max-width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
    margin: 0
  }

  .video video {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
  }

}

/* Footer */

footer {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  top: 3rem;
  background-color: white;
  padding: 1.5rem;
  font-size: 0.8rem;
}

footer span {
  flex-grow: 1;
}

footer nav a {
  padding: 0 0.5rem;
}

footer nav a:hover {
  color: blue;
  text-decoration: underline;
}

footer nav a:active {
  color: rgb(42, 187, 255);
  text-decoration: underline;
}

.social i {
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  footer nav a {
    display: none;
  }
}
